body {
	margin: 0;
	padding: 0;
}

.app {
	background-color: #fdf6e3;
	cursor: default;
	user-select: none;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.app__content {
	flex: 1;
}

.typography {
	font-family: Arial, sans-serif;
}

.navigation {
	background-color: #d33682;
	padding: 0 10px;
}

.button {
	padding: 5px;
	margin: 0;
	color: white;
	display: inline-block;
	cursor: pointer;
	transition: background-color 0.5s;
}

.button:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.switcher {
	display: flex;
}

.switcher__item {
	display: none;
	flex: 1;
}

.switcher__item--active {
	display: block;
}

.typing {
	overflow: auto;
}

.typing__text {
	font-size: 120%;
}

.char--red {
	color: #dc322f;
}

.char--blue {
	color: #268bd2;
}

.big-textarea {
	width: 100%;
	padding: 10px;
	border: none;
	outline: none;
	resize: none;
	background-color: transparent;
	font-family: inherit;
}

.set-text-page {
	display: flex;
}

.set-text-page__input {
	flex: 1;
}

.type-page {
	flex-direction: column;
	align-items: center;
}

.header {
	color: white;
	font-size: 100%;
	display: inline;
}

.type-page__input {
	width: 200px;
}